@tailwind base;
@tailwind components;
@tailwind utilities;

.ipbg {
  background: rgba(243, 251, 252, 0.33);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(243, 251, 252, 0.3);
  padding: 10px 80px;
}
.copybg {
  background: rgba(198, 117, 52, 0.48);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(198, 117, 52, 0.3);
}

.boxbg {
  background: rgba(243, 251, 252, 0.33);
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(243, 251, 252, 0.3);
  padding: 10px 80px;
}
